<div class ="navbar {{menuOn ? 'menuOn': ''}}">
    <div class = "nav-left">
        <div class="logo-outer" >
            <div> 
            <a routerLink="/" style="textDecoration: none; color:#171719;">Build <br/>in Amsterdam.</a>
            </div>
        </div>
    </div>
    <div class = "nav-right" (click)="setMenuOn()">
        
        <div>
            <div class="main-buttonPage {{ !menuAppear ? 'main-buttonPage' : 'main-buttonPage hideButton'}}" >
                <div class="circle" (click)="toggleMenu()" >
                    <div class="hamburger">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
                <div class='popOutBox' >
                    <div class='popOutBox_inner' >
                        <span>Menu</span>
                    </div>
                </div>
            </div>
            <div></div>
         
            <div class="{{menuAppear ? 'menu' : 'menu hide'}} " (click)="toggleMenu()">

                <div class="main-button" >
                    <div class="circle">
                        <div class="{{showGoOut ? 'hamTransOut ' : ''}}">
                            <div class="{{showGoOut ? 'barLeftAnimatOut ' : ''}}"></div>
                            <div class="{{showGoOut ? 'barMiddleAnimatOut ' : ''}}"></div>
                            <div class="{{showGoOut ? 'barRightAnimatOut ' : ''}}"></div>
                            
                        </div>
                        <div class="{{show ? 'hamTrans ' : 'hamTransNorm'}}"  *ngIf="!showGoOut">
                            <div class="{{show ? 'barLeftAnimatIn ' : 'barLeft'}}"></div>
                            <div class="{{show ? 'barMiddleAnimatIn ' : 'barMiddle'}}"></div>
                            <div class="{{show ? 'barRightAnimatIn ' : 'barRight'}}"></div>
                            
                        </div>
                  

                    </div>
                    <div class='popOutBox' >
                        <div class='popOutBox_inner' >
                            <span>Close</span>
                        </div>
                    </div>
                </div>
                <div class='outerMenuThirdBox'>
                    <a routerLink="/cases" style="textDecoration: none; color: #fbf9f6">
                        <div class="{{menuAppear ? 'cases enter slideInMenu' : 'cases leave slideOutMenu'}}">
                            <div class="menu-bar">
                                <div class="menu-text">
                                    <div class='h1ContainerMenu' >
                                        <h1 class="h1Con underline">Cases</h1>
                                    </div>
                                    <br /><br />
                                    <div class="text-expand">
                                        <p>We like to let our work do the talking</p><br />
                                        <p class='boldPTag'>Go to Cases</p></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class='outerMenuThirdBox'>
                    <a routerLink="/about" style="textDecoration: none; color: #fbf9f6" >
                        <div
                            class="{{menuAppear ? 'menu-about enter slideInMenu' : 'menu-about leave slideOutMenu'}}"
                        >
                            <div class="menu-bar">
                                <div class="menu-text">
                                    <div class='h1ContainerMenu' >
                                        <h1 class="h1Con underline">About</h1>
                                    </div><br /><br />
                                    <div class="text-expand">
                                        <p>We are a branding agency specialized in e-commerce</p><br />
                                        <p class='boldPTag'>Go to About</p>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class='outerMenuThirdBox'>
                    <a routerLink="/contact" style="textDecoration: none; color: #fbf9f6">
                        <div
                            class="{{menuAppear ? 'contact enter slideInMenu' : 'contact leave slideOutMenu'}}"
                        >
                            <div class="menu-bar">
                                <div class="menu-text">
                                    <div class='h1ContainerMenu' >
                                        <h1 class="h1Con underline">Contact</h1>
                                    </div><br /><br />
                                    <div class="text-expand">
                                        <p>Rombout Hogerbeetsstraat 109-1 <br />1052 VW Amsterdam<br />The Netherlands</p><br />
                                        <p class='boldPTag'>Go to Contact</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>