<div class ="navbar {{menuOn ? 'menuOn': ''}}">
    <div class = "nav-left">
        <div class="logo-outer" >
            <div> 
            <a href="/" style="textDecoration: none; color:#171719;">Build <br/>in Amsterdam.</a>
            </div>
        </div>
    </div>
    <div class = "nav-right" (click)="setMenuOn()">
        
        <div>
            <div class="main-buttonPage " >
                <div
                    class="circle"
                  >
                    <div class="hamburger">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
                <div class='popOutBox' >
                    <div class='popOutBox_inner' >
                        <span>Menu</span>
                    </div>
                </div>
            </div>
            <div></div>
         
            <div class="menu ">

                <div class="main-button" >
                    <div
                        class="circle"
                    >
                        <div class='hamTransOut '>
                            <div class='barLeftAnimatOut '></div>
                            <div class='barMiddleAnimatOut'></div>
                            <div class='barRightAnimatOut '></div>
                        </div>
                      "asd"

                    </div>
                    <div class='popOutBox' >
                        <div class='popOutBox_inner' >
                            <span>Close</span>
                        </div>
                    </div>
                </div>
                <div class='outerMenuThirdBox'>
                    <a href="/" style="textDecoration: none; color: #fbf9f6">
                        <div
                            class='cases enter slideInMenu'
                        >
                            <div class="menu-bar">
                                <div class="menu-text">
                                    <div class='h1ContainerMenu' >
                                        <h1 class="h1Con underline">Cases</h1>
                                    </div>
                                    <br /><br />
                                    <div class="text-expand">
                                        <p>We like to let our work do the talking</p><br />
                                        <p class='boldPTag'>Go to Cases</p></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class='outerMenuThirdBox'>
                    <a href="/about" style="textDecoration: none; color: #fbf9f6" >
                        <div
                            class="menu-about enter slideInMenu"
                        >
                            <div class="menu-bar">
                                <div class="menu-text">
                                    <div class='h1ContainerMenu' >
                                        <h1 class="h1Con underline">About</h1>
                                    </div><br /><br />
                                    <div class="text-expand">
                                        <p>We are a branding agency specialized in e-commerce</p><br />
                                        <p class='boldPTag'>Go to About</p>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class='outerMenuThirdBox'>
                    <a href="/contact" style="textDecoration: none; color: #fbf9f6">
                        <div
                            class="contact enter slideInMenu"
                        >
                            <div class="menu-bar">
                                <div class="menu-text">
                                    <div class='h1ContainerMenu' >
                                        <h1 class="h1Con underline">Contact</h1>
                                    </div><br /><br />
                                    <div class="text-expand">
                                        <p>Rombout Hogerbeetsstraat 109-1 <br />1052 VW Amsterdam<br />The Netherlands</p><br />
                                        <p class='boldPTag'>Go to Contact</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>