<div class="caseCreator">
<div class='topAreaMain'>
  <div class='topBgPicTitleArea'>
    <ng-parallax
    class='parallaxTopArea parDiv'
    img="/assets/casesImg/{{bgImageUrl}}"
>
    <span class='span1' >
        <div class='topTitleText slideUpTopArea'>
            {{firstPart}}
        </div>
    </span>
    <span class='span2' >
        <div class='topTitleText2 slideUpTopArea2'>
            {{(secondPart)}}
        </div>
    </span>
    <div style="height: 78vh; width: 100vw"></div>
</ng-parallax>
</div>



            <div class='secondTopAreaMain'>
            <div class='secondLeftTop' [ngStyle]="{'background': (leftColor[case.case_id - 1]) }">
                <blockquote class='topQuoteBlockStyle'>{{case.blurb}}</blockquote>
              </div>
            <div class='secondRightTop' [ngStyle]="{'background': (rightColor[case.case_id - 1])}">
                <div class='secondRightInnerTop'>
                  <div class='innerInnerTop'>
                    <h3>Awards & Recognition</h3>
                    <p>{{case.award_blurb}}</p>
                    <br />
                    <h3>Deliverables</h3>
                    <p>{{case.deliverables}}</p>
                    <br />
                    <h3>Visit site</h3>
                    <a class='aTagStyle undy' href="{{case.link_url}}" target="_blank"
                      rel="noopener noreferrer">{{case.link_url}}</a>
                  </div>
                </div>
              </div>
            </div>
</div>
</div>