<app-header></app-header>
<div class='sliderMain' *ngIf="show">
<div style="width: 33.333vw; height: 100vh; background: transparent">
  <div class='slider3rd slideScreen' ></div>
</div>
<div style=" width: 33.333vw ">
  <div class='slider3rd slideScreen' ></div>
</div>
<div style=" width: 33.333vw ">
  <div class='slider3rd slideScreen' ></div>
</div>

  <div class='sliderMain' *ngIf="show1">
      <h1 class='hMain'>
          <div style=" width: 80px"><span class='slideLetterUp slideUp'>S</span></div>
          <div style=" width: 40px ;"><span class='slideLetterUp slideUp'>t</span></div>
          <div style=" width: 40px ;"><span class='slideLetterUp slideUp'>r</span></div>
          <div style=" width: 60px"><span class='slideLetterUp slideUp'>a</span></div>
          <div style=" width: 40px ;"><span class='slideLetterUp slideUp'>t</span></div>
          <div style=" width: 65px ;"><span class='slideLetterUp slideUp'>e</span></div>
          <div style=" width: 65px ;"><span class='slideLetterUp slideUp'>g</span></div>
          <div style=" width: 65px ;"><span class='slideLetterUp slideUp'>y</span></div>
          <div style=" width: 28px ;"><span class='slideLetterUp slideUp'>,</span></div>
          <div style=" width: 1vw; "><span class='slideLetterUp slideUp'> </span></div>
          <div style=" width: 80px ;"><span class='slideLetterUp slideUp'>B</span></div>
          <div style=" width: 52px ;"><span class='slideLetterUp slideUp'>r</span></div>
          <div style=" width: 60px ;"><span class='slideLetterUp slideUp'>a</span></div>
          <div style=" width: 70px ;"><span class='slideLetterUp slideUp'>n</span></div>
          <div style=" width: 70px ;"><span class='slideLetterUp slideUp'>d</span></div>
          <div style=" width: 30px ;"><span class='slideLetterUp slideUp'>i</span></div>
          <div style=" width: 80px ;"><span class='slideLetterUp slideUp'>n</span></div>
          <div style=" width: 70px ;"><span class='slideLetterUp slideUp'>g</span></div>
          <div style=" width: 2vw; "><span class='slideLetterUp slideUp'> </span></div>
          <div style=" width: 85px ;"><span class="slideLetterUp slideUp">&</span></div>
      </h1>
      <h1 class='hMain2'>
          <div style=" width: 65px ;"><span class='slideLetterUp slideUp'>e</span></div>
          <div style=" width: 50px ;"><span class='slideLetterUp slideUp'>-</span></div>
          <div style=" width: 70px ;"><span class='slideLetterUp slideUp'>c</span></div>
          <div style=" width: 70px ;"><span class='slideLetterUp slideUp'>o</span></div>
          <div style=" width: 100px ;"><span class='slideLetterUp slideUp'>m</span></div>
          <div style=" width: 100px ;"><span class='slideLetterUp slideUp'>m</span></div>
          <div style=" width: 65px ;"><span class='slideLetterUp slideUp'>e</span></div>
          <div style=" width: 52px ;"><span class='slideLetterUp slideUp'>r</span></div>
          <div style=" width: 70px ;"><span class='slideLetterUp slideUp'>c</span></div>
          <div style=" width: 65px ;"><span class='slideLetterUp slideUp'>e</span></div>
      </h1></div>
 
</div>
<router-outlet></router-outlet>