<div class='case_parent'>

    <!-- <div class='toggle_button'><span class='admin_text'></span></div> -->
    <!-- <span class='post_button'>qwe</span> -->
    <div class='content' *ngFor="let case of cases;index as i;">
        <a routerLink="/case/{{case.case_id}}">
        <div class='case_item rotateText'>
            <!-- {`images images${[i]}`} -->
        <div class="images {{'images' + i}}">
                <img class='pic' src="/assets/casesImg/{{case.background_url}}" alt='caseimg' />
            </div>
            <div class='case_header'>
                <h1>{{case.title}}</h1>
                <div class='blurb'>
                    <h5>{{case.subtitle}}</h5>
                </div>
                <p>{{case.brand}}</p>
            </div>
        </div>
    </a>
    </div>
    <div class='left_arrows'>
        <div class='circle_left'>
            <div class='left_drawer'>
                <div class='left_drawer_inner'>
                    <span>More Cases</span>
                </div>
            </div>
            <div class='left_arrow'>
                <div class='left_footer'>
                    <div class=''>
                        <svg viewBox='0 0 0'>
                            <use href='#left_arrow' x='0' y='0' >
                                <polygon id='left_arrow' points='6.001,4.995 7.501,6.662 5.396,9 17.993,9 17.993,11 5.404,11 7.501,13.329 6.001,14.995 1.5,9.995'>
                                </polygon>
                            </use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='right_arrows'>
        <div class='circle_right right-next'>
            <div class='right_drawer next'>
                <div class='right_drawer_inner'>
                    <span>More Cases</span>
                </div>
            </div>
            <div class='right_arrow'>
                <div class='right_footer'> 
                        <div class=''>
                            <svg class='arrow_svg'viewBox='0 0 0'>
                                <use href='#right_arrow' >
                                    <polygon id='right_arrow' points="13.493,4.995 11.993,6.662 14.097,9 1.5,9 1.5,11 14.089,11 11.993,13.329 13.493,14.995 17.993,9.995">
                                    </polygon>
                                </use>
                            </svg>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<div class="caseCreator">
    <div class='topAreaMain'>
        <div class='topBgPicTitleArea'>
            <Parallax class='parallaxTopArea' blur={0} bgImage={String(bgImageUrl)} bgImageAlt="Background Image"
                strength={380}>
                <span class='span1'>
                    <div class='topTitleText slideUpTopArea'>
                        {String(firstPart)}
                    </div>
                </span>
                <span class='span2'>
                    <div class='topTitleText2 slideUpTopArea2'>
                        {String(secondPart)}
                    </div>
                </span>
                <div style={{ height: '78vh', width: '100vw' }} />
            </Parallax>
        </div>
        <div class='secondTopAreaMain'>
            <div class='secondLeftTop' style="background: {{ (leftColor[props.indCase.case_id - 1]) }}">
                <blockquote class='topQuoteBlockStyle'>{props.indCase.blurb}</blockquote>
            </div>
            <div class='secondRightTop' style={{ background: (rightColor[props.indCase.case_id - 1]) }}>
                <div class='secondRightInnerTop'>
                    <div class='innerInnerTop'>
                        <h3>Awards & Recognition</h3>
                        <p>{props.indCase.award_blurb}</p>
                        <br />
                        <h3>Deliverables</h3>
                        <p>{props.indCase.deliverables}</p>
                        <br />
                        <h3>Visit site</h3>
                        <a class='aTagStyle undy' href={`https://${props.indCase.link_url}`} target="_blank"
                            rel="noopener noreferrer">{props.indCase.link_url}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->